{% extends 'base.html' %}
{% load static %}


{% block content %}
  <body id="top">
  {% include 'portfolio/include/header.html' %}
  <section class="about-area" id="about">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="abt-left-thumb">
            <img src="{{ service.image.url }}" alt="{{ service.image.url }}">
          </div>
        </div>
        <div class="col-md-7 offset-md-1">
          <div class="abt-content">
            <div class="section-title">
              <h2 class="txt2_is_show">{{ service.title }}</h2>
            </div>
            <p class=""><span class="">{{ service.text }}</span>
            </p>
            <p class=""><span class="">{{ service.more_information }}</span>
            </p>
          </div>
        </div>
      </div>

    </div>
    </div>
  </section>
  <!-- contact area end -->
  <!-- footer area start -->
  {% include 'portfolio/include/service-detail-footer.html' %}
  <!-- footer area end -->
  </body>

{% endblock %}



