{% include "base.html" %}

<header class="detail-page-section">
  <div class="header-area">
    <div class="container">
      {% for header in headers %}
        <div class="row align-items-center">
          <div class="col-md-3 col-sm-12 header-logo-holder">
            <div class="logo">
              <a href="{% url 'home' %}"><img src="{{ header.icon.url }}" alt="logo"></a>
            </div>
          </div>
          <div class="col-md-9 d-none d-md-block header-links-holder">
            <div class="main-menu">
              <nav class="nav-menu">
                <ul id="nav_menu">
                  {% if user.is_superuser %}
                    <li><a class="pdf" data-hover="PDF" href="{% url 'pdf' %}"><span>PDF erstellen</span></a></li>
                  {% endif %}
                  {% for link in header.links.all %}
                    {% if current_page == "home" %}
                      <li><a data-hover="{{ link.data_hover }}" href="{{ link.href }}"><span>{{ link.name }}</span></a>
                      </li>{% endif %}
                  {% endfor %}
                  {% if current_page == "other" %}
                    <li><a data-hover="Home" href="{% url 'home' %}"><span>Home</span></a></li>
                  {% endif %}
                  <li><a data-hover="Impressum" href="{% url 'impressum' %}"><span>Impressum</span></a></li>
                  <li><a data-hover="Datenschutzerklärung"
                         href="{% url 'data-protection' %}"><span>Datenschutzerklärung</span></a></li>
                  {#                  <li><a data-hover="Zertifikate"#}
                  {#                         href="{% url 'certificates' %}"><span>Zertifikate</span></a></li>#}
                </ul>
              </nav>
            </div>
          </div>
          <div class="col-sm-12 d-block d-md-none">
            <div class="responsive-menu-wrap"></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <script>
    $('ul#nav_menu').slicknav({
      prependTo: ".responsive-menu-wrap"
    });
  </script>
</header>



